img.filterbright
{
filter:brightness(300%);
}


img.filterdark
{
filter:brightness(75%);
}


h1 
{
color:white;
}
h2 
{
color:white;
}
h3 
{
color:white;
}

h4 
{color:white; font-family: Arial;
}


.U
{
color:white; font-family: Arial black; font-size:35;
}
